# Site settings
title: Ramansh Sharma's blog
description: "Musings of this one PhD student."
baseurl: '\blog'
url: "http://rsmath.github.io/blog"

# Build settings
markdown: kramdown
permalink: pretty

highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
